@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Old+Standard+TT&display=swap");

$primary-color: rgb(77, 8, 8);
$secondary-color: rgb(92, 32, 32);
$black: #000 ; 
$white: #fff ;
$most_used: green ;
$background:  rgb(205, 231, 205);
$light_green: rgb(15, 221, 15);

.error{
    color: #e74e3c;
}
 
@mixin fonts-small{
    font-family: 'Arvo', serif;
}

html{
    height: 100%;
}

body{
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    min-height: 100%;
}

@mixin fonts_bg {
    font-family: 'Old Standard TT', serif;
}

h1 , h2 , h3 , h4 , h5 , h6{
    color: #fff;
    font-family: 'raleways';
}


*{
    margin: 0px;
    padding: 0px;
}

.logout{
    color: red;
}

.alert-alert-__fail{
    background: #e74e3c;
    color: $white;
    text-align: center;
    margin:0 auto;
    padding: 10px;
    border-radius: 5px;
}

ol , ul  , li , a{
    list-style-type: none;
    color: #000;
    font-family: 'raleways';
    text-decoration: none;
} 

table{
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .3);
    border-collapse: collapse;
    border: 1px solid #eee;
    border-radius: 5px;
    width: fit-content;
}

@mixin font-style {
    font-family: 'raleways' sans-serif;
}

@mixin transition-ease {
    transition: 0.5s all ease-in-out;
}

th{
    padding: 6px 40px;
    border: 1px solid #eee;
}

td{
    padding: 6px 40px;
    border: 1px solid #eee;
}

th:first-child{
    width: 5px;
}

td:nth-child(even){
    background:  #eee;
}

td:first-child{
    width: 5px;
}

