section{
    height: 100%;
    display: flex;
    box-sizing: border-box ;
    background: $background ;
}

#left{
    flex-shrink: 0;
    flex: .7;
    background: $white;
    display: flex ;
    flex-direction: column;
    box-shadow: 0px 3px 5px rgb(35, 142, 31);
}

.message__dashboard{
    background: #fff;
    border-radius: 4px;
    height: 150px;
    width: 150px;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .3);
    display: flex ;
    justify-content: center ;
    align-items: center;
}

.message_content_dash{
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .2);

    & p{
        font-weight: bold;
        text-align: center;
        font-size: 18px;
        @include fonts-small;
    }
}


#right{
   flex:3;
   height: 100%;
}

#pages_right{
   flex:3;
   height: 100vh;
}

.top-dash__box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , 3);
    position: absolute;
    transform: translateY(-20px);
    right: 0px;

    &:hover .main_dashboard > a {
         transform: translateY(40px) ;     
    }
}

.top-box{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , 3);
    transform: translateY(-20px);
    float: right;
}

.message{
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .3);
    position: relative;
    background: #fff;

    &_content{
       padding: 20px 30px;

       & form .form-group{
           height: 70px;

           & .split__form{
               display: inline-flex;
           }
       }
        
       & form .form-group input{
           padding: 8px;
           outline: none;
           border: 1px solid #eee;
           width: 100%;
           box-sizing: border-box;
           margin: 4px;
           border-radius: 4px;
       }
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        background: #eee;
        padding: 20px 30px;
    }
}


.main_dashboard{
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;

    & a{
        position: relative;
        margin: 20px;
        transition: transforms ;
    }
}

.pages__main-content{
   width: 50%;
   margin: 10px auto ;

   &__profile{
       margin: 30px auto;
       width: 80%;
       background: #fff ;
       display: flex;
       flex-direction: row;
       border-radius: 5px;

       &__split{
           width: 100%;    
           border-right: 1px solid #eee;

            & img{
               width: 300px;
               height: 300px;
               border-radius: 50%;
           }
       } 

       &__split p{
           padding: 10px 20px;
           border-bottom: 1px solid #eee;
       }
    }
   & h1{
       padding: 30px 5px;
   }
}



@keyframes left-to-right {
    100%{
        transform: translateX(0);
    }
}


.slider-image{
    position: relative;
    height: 250px;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}



.main-content__box{
   
    border-radius: 5px ;
    margin: 4px ;

    &__overlay{    
        position: absolute;
        top: 0;
        height: 250px ;
        width: 100%;
        background-size: center center;

        & img{
            transform: translateY();
            animation: move-left-to-right 5s ease-in-out infinite ;
            animation-play-state: pause;
            will-change: transform;
            backface-visibility: hidden;
            height:250px;
            width: 100%;
        }

        & div{
        height: 250px;
        position: absolute;
        top: 0;
        font-size: 30px ;
        display: flex;
        align-items:center;

        & h2{
            color: green ;
        }
        }

        border-radius: 5px;   
    }


    &__wraps{
        flex-grow: 1;
        padding: 5px;
        margin: 5px;
        box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .3);

        & .transfer  h1{
            padding: 17px;
            @include fonts_bg;
        }

        & .transfer button{
            padding: 8px;
            border-radius: 4px;
            outline: none;
            border: none;
            font-size: 20px;
        }

        & .transfer p{
            @include fonts_bg;
        }

        & .transfer > form > .secure__transfer{
            & > input{
                box-sizing: border-box;
                padding: 8px;
                font-size: 18px;
                outline: none;
                border-radius: 5px;
                border: 1px solid green;
            }

            & > select{
                padding: 8px;
                outline: none;

                &:hover{
                    background: #eee;
                    @include transition-ease;
                }
            }

            & option{
                background: $light_green;
                &:hover{
                    background: #eee;
                    @include transition-ease;
                }
            }
        }
    }

    &__wrapper{
        display: flex;
    }
}

.converter{
    width: 150px;
}

.dashboard__display{
    top: 0;
    position: absolute;
    right: 0;
    border-radius: 5px;
    z-index: 1;
}

.error_message{
    background: #e74e3c;
    text-align: center;
    padding: 7px;
    color:#eee ;
    border-radius: 5px ;
}

.form-group{
    margin: 5px;
    height: 60px;
}

.form-group input{
    width: 100% ;
    padding: 10px;
    border: 1px solid rgb(152, 189, 152);
    border-radius: 5px ;
}

.main-search form{
      display: flex;   

      & > .search-bar{
          position: relative;
          width: fit-content;
          margin: 5px;

          & > input{
            box-sizing: border-box;
            padding: 8px;
            font-size: 18px;
            outline: none;
            border-radius: 5px;
            border: 1px solid green;
          }

          & i{
              position: absolute;
              right: 0px;
              top: 0px;
              padding: 8px;
              font-size:20px
          }

          & select{
              position: absolute;
              right: 0px;
              top: 0px;
              padding: 6px;
              font-size: 20px;
          }
      }
}

.side-navbar{
    padding: 10px;
    & > img{
        border-radius: 50%;
        border:1px solid #000;
        background: $light_green;
        float: left;
        width: 45px;
        height: 45px;
        
    }
    & > p{
        display: flex;
        height: 45px;
        justify-content: center ;
        align-items: center;
        font-weight: bold;
        @include fonts_bg;
    }

    &__balance{
        display: flex;
        justify-content: space-between  ;
        align-items: center;
        height: 20px;

        & > li{
            background: $light_green ;
            border-radius:4px;
            font-weight: bold;
            @include fonts_bg;
        }
        & > p{
            font-weight: bold;
        }
    }
}

.secure__transfer{
     position: relative;
     width: fit-content;
     float: left;
     & img{
         position: absolute;
         right: 0px;
         top: 0px;
         width: 35px;
     }
}

.cash{
    font-size: 40px;
    color: $light_green;
}

.sidebar li a{
    display: block;
    padding: 20px 20px;
    @include fonts_bg;

    & i{
        padding-right: 5px;
    }

    &:hover{
        background: #eee;
        border-right: 4px solid green; 
        @include transition-ease;
    }
}

.trow-exception{
    background: #e74e3c;
    color: #fff;
    padding: 15px 20px;
    border-radius: 4px;


}

.active{
    background: #eee;
}