header{
   border-bottom: 1px solid rgb(164, 226, 164);
}

.header-wrapper{
    width: 90%;
    margin: 0px auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center ;
    padding: 15px 0px;

    &__logo h2{
        color: $black;
        font-size: 25px ;
    }
}

.menu-nav{
    margin: 0px 2rem;


    &__services{
        display: flex;
        width: 5vw;
        justify-content: space-between;
        align-items: center;

        &__box{
            display: flex;
        }

        &__wrapper{
            margin: .5px;

            & > div{
                width: 8px;
                height: 8px;
                background: $most_used;
                border-radius: 2px;
                margin: .5;    
            }
        }

        & > li {
             justify-content: center;
             align-items: center; 
        }
    }
    
    &__items{
        display: inline;
        color: #fff; 

        & a{
            margin: 4px;
            padding: 20px 20px;
            @include fonts_bg;
            outline: none;

            &:hover{
                border-bottom: 1px solid $most_used;
            }
        }
    }
}

.menu-nav{

    &__itmes{
        display: inline-flex;
    }
}

.social{
    display: none;
}