header{
   border-bottom: 1px solid rgb(164, 226, 164);
}

.about-us__page {    
    position: relative;
    overflow: hidden;
    height: 500px;

    &__picture{
        & > img{
            height: 400px;
            width: 100vw;
        }
    }
}


.header-wrapper{
    width: 90%;
    margin: 0px auto; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu-btn{  
    padding: 15px 0px;
    &__wrapps{  
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: center ;
    }

    &__logo h2{
        color: $black;
        font-size: 25px ;
    }
}

.menu-nav{
    margin: 0px 2rem;

    &__services{
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > li {
             justify-content: center;
             align-items: center; 
        }
    }
    
    &__items{
        display: inline;
        color: #fff; 

        & a{
            margin: 4px;
            padding: 20px 20px;
            @include fonts_bg;
            outline: none;

            &:hover{
                color: $most_used ;
            }
        }
    }
}

.menu-nav{

    &__itmes{
        display: inline-flex;
    }
}

.social{
    display: none;
}


footer{
    background: green;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    flex-wrap: wrap;

    & .pages{

        & .get-in-touch{
            & h3{
                padding: 12px;
            }

            & span a{     
                color: #fff;
                display: block;
                @include fonts_bg;
                font-weight: 18px;
                padding: 7px;

            }
        }

        & .privacy{
            & h3{
                padding: 12px;
            }

            & span a{
                color: #fff;
                display: block;
                @include fonts_bg;
                font-weight: 18px;
                padding: 7px;
            }
        }

        & .newslettter .social ul li{
             display: inline;
             padding: 5px;


        }

        & .newslettter form h2{
            padding: 12px;
            @include fonts_bg;
        }

        & .newslettter form .news{
            margin: 10px;

            & input{
                background: #fff;
                padding: 10px;
                border-radius:20px;
                box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , 3);
                border: none;
                outline: none;
                font-size: 20px;
                @include fonts_bg;
                width: 100%;
                box-sizing: border-box;
           }
        }

        & .newslettter form .news button{
             padding: 10px;
             background: #fff;
             border-radius: 20px;
             width: 100%;
             font-weight: bold;
             @include fonts_bg;
             font-size: 20px;
             border: none;
        }
    }
}

/***
*Animations for core features
***/
.rev-font{
      width: 150px;
      height: 150px;
      box-shadow: 0px 2px 5px rgba(91, 219, 28, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
}

.font{
    width: 120px;
    height: 120px;
    position: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , .1);
    @include transition-ease;

    &:hover{
        box-shadow: 0px 2px 5px rgba(0 , 0 , 0 , 3);
    }

    & span{
        color: green ;
    }
}

.ptop{
    color: green;
    @include fonts_bg
}
