@import url(https://fonts.googleapis.com/css2?family=Arvo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Arvo&family=Old+Standard+TT&display=swap);
.error {
  color: #e74e3c;
}

html {
  height: 100%;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: "raleways";
}

* {
  margin: 0px;
  padding: 0px;
}

.logout {
  color: red;
}

.alert-alert-__fail {
  background: #e74e3c;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
}

ol, ul, li, a {
  list-style-type: none;
  color: #000;
  font-family: "raleways";
  text-decoration: none;
}

table {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
  border: 1px solid #eee;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

th {
  padding: 6px 40px;
  border: 1px solid #eee;
}

td {
  padding: 6px 40px;
  border: 1px solid #eee;
}

th:first-child {
  width: 5px;
}

td:nth-child(even) {
  background: #eee;
}

td:first-child {
  width: 5px;
}

.Auth_container {
  width: 40vw;
  margin: 3rem auto;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(3, 3, 3, 0.3);
  overflow: hidden;
}
.Auth_container h2 {
  color: #000;
  background: #cde7cd;
  padding: 30px 40px;
  font-size: 2rem;
}

form {
  padding: 20px;
}

.form-Control-height textarea {
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  box-sizing: border-box;
  outline: #cde7cd;
  border: 1px solid #cde7cd;
  font-family: "Arvo", serif;
}

.form-Control {
  height: 85px;
  padding-bottom: 10px;
}
.form-Control label {
  font-size: 18px;
  font-family: "Arvo", serif;
  display: block;
}
.form-Control input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-family: "Arvo", serif;
  border: 1px solid #cde7cd;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  outline: #cde7cd;
}

.btn {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #a4e2a4;
  border-radius: 5px;
  color: green;
  font-family: "Old Standard TT", serif;
}

.Auth__link {
  padding-bottom: 25px;
}
.Auth__link-wrapper {
  padding: 4px;
}
.Auth__link-wrapper p a {
  color: green;
  font-family: "Arvo", serif;
}

.currency__converter {
  background: #fff;
  padding: 50px 40px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.currency__header h2 {
  font-family: "Arvo", serif;
  color: green;
  padding-left: 1.5rem;
}
.currency__form label {
  font-family: "Arvo", serif;
  font-size: 2px;
  color: green;
}
.currency__form input {
  padding: 7px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #eee;
  font-family: "Old Standard TT", serif;
}
.currency__form select {
  padding: 7px;
  border-radius: 7px;
  outline: none;
  border: 1px solid #eee;
  width: 100px;
  background: #eee;
  font-family: "Old Standard TT", serif;
}
.currency__form select > option {
  background: green;
}
.currency__form .currency__button {
  padding: 7px;
  border-radius: 7px;
  border: none;
  color: #eee;
  background: green;
  transition: 0.5s all ease-in-out;
}
.currency__form .currency__button:hover {
  transform: rotate(720deg);
}

header {
  border-bottom: 1px solid #a4e2a4;
}

.about-us__page {
  position: relative;
  overflow: hidden;
  height: 500px;
}
.about-us__page__picture > img {
  height: 400px;
  width: 100vw;
}

.header-wrapper {
  width: 90%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  padding: 15px 0px;
}
.menu-btn__wrapps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.menu-btn__logo h2 {
  color: #000;
  font-size: 25px;
}

.menu-nav {
  margin: 0px 2rem;
}
.menu-nav__services {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-nav__services > li {
  justify-content: center;
  align-items: center;
}
.menu-nav__items {
  display: inline;
  color: #fff;
}
.menu-nav__items a {
  margin: 4px;
  padding: 20px 20px;
  font-family: "Old Standard TT", serif;
  outline: none;
}
.menu-nav__items a:hover {
  color: green;
}

.menu-nav__itmes {
  display: inline-flex;
}

.social {
  display: none;
}

footer {
  background: green;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .pages .get-in-touch h3 {
  padding: 12px;
}
footer .pages .get-in-touch span a {
  color: #fff;
  display: block;
  font-family: "Old Standard TT", serif;
  font-weight: 18px;
  padding: 7px;
}
footer .pages .privacy h3 {
  padding: 12px;
}
footer .pages .privacy span a {
  color: #fff;
  display: block;
  font-family: "Old Standard TT", serif;
  font-weight: 18px;
  padding: 7px;
}
footer .pages .newslettter .social ul li {
  display: inline;
  padding: 5px;
}
footer .pages .newslettter form h2 {
  padding: 12px;
  font-family: "Old Standard TT", serif;
}
footer .pages .newslettter form .news {
  margin: 10px;
}
footer .pages .newslettter form .news input {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 2px 5px black;
  border: none;
  outline: none;
  font-size: 20px;
  font-family: "Old Standard TT", serif;
  width: 100%;
  box-sizing: border-box;
}
footer .pages .newslettter form .news button {
  padding: 10px;
  background: #fff;
  border-radius: 20px;
  width: 100%;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
  font-size: 20px;
  border: none;
}

/***
*Animations for core features
***/
.rev-font {
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 5px rgba(91, 219, 28, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.font {
  width: 120px;
  height: 120px;
  position: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.5s all ease-in-out;
}
.font:hover {
  box-shadow: 0px 2px 5px black;
}
.font span {
  color: green;
}

.ptop {
  color: green;
  font-family: "Old Standard TT", serif;
}

section {
  height: 100%;
  display: flex;
  box-sizing: border-box;
  background: #cde7cd;
}

#left {
  flex-shrink: 0;
  flex: 0.7;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 5px #238e1f;
}

.message__dashboard {
  background: #fff;
  border-radius: 4px;
  height: 150px;
  width: 150px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_content_dash {
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.message_content_dash p {
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  font-family: "Arvo", serif;
}

#right {
  flex: 3;
  height: 100%;
}

#pages_right {
  flex: 3;
  height: 100vh;
}

.top-dash__box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0px 2px 5px black;
  position: absolute;
  transform: translateY(-20px);
  right: 0px;
}
.top-dash__box:hover .main_dashboard > a {
  transform: translateY(40px);
}

.top-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #eee;
  box-shadow: 0px 2px 5px black;
  transform: translateY(-20px);
  float: right;
}

.message {
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  position: relative;
  background: #fff;
}
.message_content {
  padding: 20px 30px;
}
.message_content form .form-group {
  height: 70px;
}
.message_content form .form-group .split__form {
  display: inline-flex;
}
.message_content form .form-group input {
  padding: 8px;
  outline: none;
  border: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  margin: 4px;
  border-radius: 4px;
}
.message__wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background: #eee;
  padding: 20px 30px;
}

.main_dashboard {
  display: flex;
  flex-direction: row;
  padding: 10px;
  flex-wrap: wrap;
}
.main_dashboard a {
  position: relative;
  margin: 20px;
  transition: transforms;
}

.pages__main-content {
  width: 50%;
  margin: 10px auto;
}
.pages__main-content__profile {
  margin: 30px auto;
  width: 80%;
  background: #fff;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}
.pages__main-content__profile__split {
  width: 100%;
  border-right: 1px solid #eee;
}
.pages__main-content__profile__split img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.pages__main-content__profile__split p {
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
}
.pages__main-content h1 {
  padding: 30px 5px;
}

@-webkit-keyframes left-to-right {
  100% {
    transform: translateX(0);
  }
}

@keyframes left-to-right {
  100% {
    transform: translateX(0);
  }
}
.slider-image {
  position: relative;
  height: 250px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.main-content__box {
  border-radius: 5px;
  margin: 4px;
}
.main-content__box__overlay {
  position: absolute;
  top: 0;
  height: 250px;
  width: 100%;
  background-size: center center;
  border-radius: 5px;
}
.main-content__box__overlay img {
  transform: translateY();
  -webkit-animation: move-left-to-right 5s ease-in-out infinite;
          animation: move-left-to-right 5s ease-in-out infinite;
  -webkit-animation-play-state: pause;
          animation-play-state: pause;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 250px;
  width: 100%;
}
.main-content__box__overlay div {
  height: 250px;
  position: absolute;
  top: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.main-content__box__overlay div h2 {
  color: green;
}
.main-content__box__wraps {
  flex-grow: 1;
  padding: 5px;
  margin: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.main-content__box__wraps .transfer h1 {
  padding: 17px;
  font-family: "Old Standard TT", serif;
}
.main-content__box__wraps .transfer button {
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 20px;
}
.main-content__box__wraps .transfer p {
  font-family: "Old Standard TT", serif;
}
.main-content__box__wraps .transfer > form > .secure__transfer > input {
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
}
.main-content__box__wraps .transfer > form > .secure__transfer > select {
  padding: 8px;
  outline: none;
}
.main-content__box__wraps .transfer > form > .secure__transfer > select:hover {
  background: #eee;
  transition: 0.5s all ease-in-out;
}
.main-content__box__wraps .transfer > form > .secure__transfer option {
  background: #0fdd0f;
}
.main-content__box__wraps .transfer > form > .secure__transfer option:hover {
  background: #eee;
  transition: 0.5s all ease-in-out;
}
.main-content__box__wrapper {
  display: flex;
}

.converter {
  width: 150px;
}

.dashboard__display {
  top: 0;
  position: absolute;
  right: 0;
  border-radius: 5px;
  z-index: 1;
}

.error_message {
  background: #e74e3c;
  text-align: center;
  padding: 7px;
  color: #eee;
  border-radius: 5px;
}

.form-group {
  margin: 5px;
  height: 60px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #98bd98;
  border-radius: 5px;
}

.main-search form {
  display: flex;
}
.main-search form > .search-bar {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
}
.main-search form > .search-bar > input {
  box-sizing: border-box;
  padding: 8px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  border: 1px solid green;
}
.main-search form > .search-bar i {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 8px;
  font-size: 20px;
}
.main-search form > .search-bar select {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 6px;
  font-size: 20px;
}

.side-navbar {
  padding: 10px;
}
.side-navbar > img {
  border-radius: 50%;
  border: 1px solid #000;
  background: #0fdd0f;
  float: left;
  width: 45px;
  height: 45px;
}
.side-navbar > p {
  display: flex;
  height: 45px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
}
.side-navbar__balance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.side-navbar__balance > li {
  background: #0fdd0f;
  border-radius: 4px;
  font-weight: bold;
  font-family: "Old Standard TT", serif;
}
.side-navbar__balance > p {
  font-weight: bold;
}

.secure__transfer {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}
.secure__transfer img {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 35px;
}

.cash {
  font-size: 40px;
  color: #0fdd0f;
}

.sidebar li a {
  display: block;
  padding: 20px 20px;
  font-family: "Old Standard TT", serif;
}
.sidebar li a i {
  padding-right: 5px;
}
.sidebar li a:hover {
  background: #eee;
  border-right: 4px solid green;
  transition: 0.5s all ease-in-out;
}

.trow-exception {
  background: #e74e3c;
  color: #fff;
  padding: 15px 20px;
  border-radius: 4px;
}

.active {
  background: #eee;
}

.faq {
  background: green;
  height: 50vh;
  border-radius: 0px 0px 70% 70%;
  overflow: hidden;
}
.faq__text {
  text-align: center;
}
.faq__text > p {
  color: #fff;
  font-family: "Old Standard TT", serif;
}

.radius-circle-design {
  width: 90%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid green;
  margin: 0px auto;
  box-shadow: 0px 2px 5px black;
  transform: translateY(30%);
}
.radius-circle-design__small {
  width: 60%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid green;
  margin: 0px auto;
  box-shadow: 0px 2px 5px black;
  transform: translateY(30%);
}

.main__faq__content {
  margin: 0px auto;
  z-index: 1;
  transform: translateY(-7%);
  background: #fff;
  height: 100vh;
}
.main__faq__content__question {
  padding: 30px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  color: #0fdd0f;
}
.main__faq__content__answer {
  padding: 30px 30px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-top: 3rem;
}

.about-us__picture {
  position: relative;
  overflow: hidden;
}
.about-us__overlay {
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-us__overlay > h1 {
  font-size: 50px;
  color: #fff;
  font-family: "Arvo", serif;
}
.about-us__center {
  background: #0fdd0f;
}
.about-us__center h2 {
  font-family: "Old Standard TT", serif;
  font-size: 40px;
  text-align: center;
}
.about-us__center__image {
  width: 350px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about-us__center__image h2 {
  font-size: 30px;
  font-family: "Arvo", serif;
}
.about-us__center__image p {
  color: green;
  font-size: 25px;
  font-family: "Old Standard TT", serif;
}

.wrapper__center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-wrap: wrap;
}

.overlay {
  height: 500px;
  background: #000;
  width: 100vw;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
}

.background {
  background-size: 100vw 100vw;
  transform: scale(1.3);
  justify-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: flex;
}
.profile__wrapper {
  width: 50%;
  padding: 15px;
}
.profile__wrapper__card {
  width: 70%;
  margin: 0px auto;
}
.profile__wrapper__card h1 {
  color: #000;
  font-family: "Arvo", serif;
  height: 50px;
}
.profile__wrapper__edit h1 {
  height: 100px;
}
.profile__wrapper__edit h1, .profile__wrapper__edit h2, .profile__wrapper__edit p {
  color: black;
  font-family: "Arvo", serif;
}

.forms {
  padding: 0px;
  width: 80%;
}

.text-font {
  height: 80px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  height: 200px;
  background: green;
}
.card-inp {
  display: flex;
  justify-content: space-between;
}
.card-input label {
  padding: 4px;
  font-family: "Old Standard TT", serif;
}
.card-input input {
  box-sizing: border-box;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 5px;
  width: 100%;
}
.card-trip h4 {
  background: #b3e2b3;
  padding: 10px;
  border-radius: px;
  width: 80%;
  margin: 0px auto;
  text-align: center;
  color: #000;
  font-family: "Old Standard TT", serif;
}

.button-profile {
  padding: 5px;
}

.Notify, .Noti {
  height: 60px;
}

.button-card button {
  cursor: pointer;
  padding: 7px;
  background: #eee;
  border-radius: 17px;
  border: 1px solid #eee;
  width: 100%;
  margin: 4px;
  font-weight: bold;
  font-family: "Arvo", serif;
}

.check-card {
  margin: 4px;
}
.check-card label {
  font-family: "Arvo", serif;
}

hr {
  color: #000;
}

.container {
  position: relative;
  height: 100%;
}
.container__background {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.container__wrapper__content {
  position: absolute;
  top: 0px;
  background: #000;
  opacity: 0.6;
  width: 100%;
  height: 100vh;
  top: 0px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-area li {
  position: absolute;
  list-style: none;
  display: block;
  width: 35px;
  height: 35px;
  background: rgba(255, 255, 255, 0.2);
  bottom: -150px;
  -webkit-animation: animate 20s linear infinite;
          animation: animate 20s linear infinite;
}
.box-area li:nth-child(1) {
  left: 80%;
  width: 120px;
  height: 120px;
  opacity: 0.7;
  border-radius: 60%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.box-area li:nth-child(2) {
  left: 70%;
  width: 25px;
  height: 25px;
  opacity: 0.7;
  border-radius: 60%;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.box-area li:nth-child(3) {
  left: 10%;
  width: 110px;
  height: 110px;
  opacity: 0.7;
  border-radius: 60%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.box-area li:nth-child(4) {
  left: 60%;
  width: 70px;
  height: 70px;
  opacity: 0.7;
  border-radius: 80%;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}
.box-area li:nth-child(5) {
  left: 40%;
  width: 120px;
  height: 150px;
  opacity: 0.7;
  border-radius: 60%;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
}
@-webkit-keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
  }
}

.landing__page {
  margin: 30px;
}
.landing__page h2 {
  font-size: 70px;
  font-family: "raleways";
}
.landing__page h4 {
  font-size: 22px;
}
.landing__page h6 {
  font-size: 17px;
}

.link__landing__page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link__landing__page__wrapper {
  margin: 2px;
}
.link__landing__page__wrapper a {
  color: green;
  border: 1px solid green;
  border-radius: 25px;
  padding: 4px;
}

/*
*profile pages
*/
.profile-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-size: 50% 50%;
}

.core-features {
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: "Old Standard TT", serif;
}

@media screen and (max-width: 768px) {
  #left {
    position: absolute;
    transition: 0.5s all ease-in-out;
    transform: translateX(-700px);
  }

  #right {
    transition: 0.5s all ease-in-out;
    height: 100%;
  }

  .link__landing__page {
    display: none;
  }

  header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2222;
    background: #fff;
  }

  .Auth_container {
    margin-top: 20%;
    width: 70%;
  }
  .Auth_container h2 {
    font-size: 30px;
  }

  .container__background {
    height: 900px;
  }

  .wrapper__center {
    height: 100%;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
  }

  .menu-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .menu-btn.navbar {
    transition: 0.7s ease;
    display: none;
    position: relative;
  }
  .menu-btn.navbar.open {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .menu-btn__wrapps {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    transition: 0.5s all ease-in-out;
    display: none;
  }
  .menu-btn__wrapps.open {
    display: flex;
  }

  .menu-nav__services {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-nav__services__wrapper {
    width: 40px;
    height: 6px;
    background: green;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-nav__services__wrapper.open {
    transform: translateX(-50px);
    background: transparent;
  }
  .menu-nav__services__wrapper.open::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-nav__services__wrapper.open::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  .menu-nav__services__wrapper::before, .menu-nav__services__wrapper::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 6px;
    background: green;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  .menu-nav__services__wrapper::before {
    transform: translateY(-14px);
  }
  .menu-nav__services__wrapper::after {
    transform: translateY(14px);
  }
  .menu-nav__items > a {
    display: block;
    text-transform: uppercase;
    transition: 0.5s all ease-in-out;
  }
  .menu-nav__items > a:hover {
    border-bottom: none;
  }
}
@media screen and (max-width: 450px) {
  .Auth_container {
    width: 90vw;
  }
  .Auth_container h2 {
    font-size: 30px;
  }
}

